<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/pages/landing/index.css">
    <title>Document</title>
</head>

<body>
    <main class="landing-main-container">
        <div class="top-wiki-header">
            <img src="./assets/icons/Wikipedia_wordmark.svg" alt="">
            <span>The Free Encyclopedia</span>
        </div>
        <div class="center-selection-lang">
            <div class="select-lang-wiki">
                <div class="central-lang" lang="en" dir="ltr">
                    <a id="js-link-box-en" href="#" title="English — Wikipedia — The Free Encyclopedia">
                        <strong>English</strong>
                        <small>6,796,000+ <span>articles</span></small>
                    </a>
                </div>
                <div class="central-lang" lang="fa" dir="rtl">
                    <a id="js-link-box-fa" href="#" title="Fārsi — ویکی&zwnj;پدیا — دانشنامهٔ آزاد">
                        <strong><bdi dir="rtl">فارسی</bdi></strong>
                        <small>۹۹۵٬۰۰۰+ <span>مقاله</span></small>
                    </a>
                </div>
            </div>
            <img src="./assets/images/Wikipedia-logo-planet.png" />
        </div>
        <form action="#" class="bottom-search-form">
            <div class="form-field search">
                <input type="search" autofocus>
                <button type="submit">
                    <img src="./assets/icons/search-icon.svg" alt="">
                </button>
            </div>
        </form>
    </main>
    <script defer src="./index.js"></script>
</body>

</html>